*{
    margin: 0;
    padding: 0;
}
body{
    background: #e3f2fd;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 100px;
    background: #b3defe;
}
#banner{
    width: 100%;
    height: 400px;
    background: #7ecbfd;
}

#content1{
    overflow: hidden;
}
#content1 .nav{
    width: 30%;
    height: 500px;
    float: left;
    background-color: #43b5fc;
}
#content1 .arti_right1{
    width: 70%;
    height: 250px;
    float: left;
    background-color: #00a5fb;
}
#content1 .arti_right2{
    width: 70%;
    height: 250px;
    float: left;
    background-color: #0096fa;
}

#content2{
overflow: hidden;
}
#content2 .arti_box1{
    width: 33.3333%;
    height: 300px;
    float: left;
    background-color: #0088ec;
}
#content2 .arti_box2{
    width: 33.3333%;
    height: 300px;
    float: left;
    background-color: #0076d9;
}
#content2 .arti_box3{
    width: 33.3333%;
    height: 300px;
    float: left;
    background-color: #0064c6;
}

#content3{
    overflow: hidden;
    background-color: #00a6fc;
    padding: 5%;
}
#content3 .arti_square1{
    width: 23%;
    height: 200px;
    margin: 1%;
    float: left;
    border-radius: 10px;
    background-color: #0076d9;
}
#content3 .arti_square2{
    width: 23%;
    height: 200px;
    margin: 1%;
    float: left;
    border-radius: 10px;
    background-color: #0076d9;
}
#content3 .arti_square3{
    width: 23%;
    height: 200px;
    margin: 1%;
    float: left;
    border-radius: 10px;
    background-color: #0076d9;
}
#content3 .arti_square4{
    width: 23%;
    height: 200px;
    margin: 1%;
    float: left;
    border-radius: 10px;
    background-color: #0076d9;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: #43b5fc;
}

/* 화면 너비가 0 ~ 1200px */
@media (max-width: 1240px){
    #wrap{
        width: 100%;
    }
    #content2 .arti_box1{
        width: 50%;
    }
    #content2 .arti_box2{
        width: 50%;
    }
    #content2 .arti_box3{
        display: none;
    }
    #content3 .arti_square1{
        width: 31.3333%;
    }
    #content3 .arti_square2{
        width: 31.3333%;
    }
    #content3 .arti_square3{
        width: 31.3333%;
    }
    #content3 .arti_square4{
        display: none;
    }
}

/* 화면 너비가 0 ~ 768px */
@media (max-width: 768px){
    #content2 .arti_box1{
        width: 100%;
    }
    #content2 .arti_box2{
        width: 100%;
    }
}

/* 화면 너비가 0 ~ 480px */
@media (max-width: 480px){
    #content1 .nav{
        width: 100%;
        height: 200px;
    }
    #content1 .arti_right1{
        width: 100%;
        height: 200px;
    }
    #content1 .arti_right2{
        width: 100%;
        height: 200px;
    }
    #content3 .arti_square1{
        width: 98%;
        border-radius: 10px;
    }
    #content3 .arti_square2{
        width: 98%;
        border-radius: 10px;
    }
    #content3 .arti_square3{
        width: 98%;
        border-radius: 10px;
    }
}