*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#e0f7fa;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    background: #b2ebf2;
}
article{
    width: 100%;
    height: 300px;
    background: #80deea;
}
nav{
    width: 33.3333%;
    height: 500px;
    background: #4dd0e1;
    float: left;
}
.content01{
    width: 66.6667%;
    height: 250px;
    background: #26c6da;
    float: left;
}
.content02{
    width: 66.6667%;
    height: 250px;
    background: #00bcd4;
    float: left;
}
.content03{
    width: 33.3333%;
    height: 300px;
    background: #00acc1;
    float: left;
}
.content04{
    width: 33.3333%;
    height: 300px;
    background: #0097a7;
    float: left;
}
.content05{
    width: 33.3333%;
    height: 300px;
    background: #00838f;
    float: left;
}
.content06{
    width: 90%;
    height: 230px;
    background: #00bcd4;
    clear: both;
    overflow: hidden;
    padding: 5%;
}
.content06 > div{
    float: left;
    width: 21%;
    height: 200px;
    margin: 2%;
    border-radius: 10px;
    background: #006064;
}
footer{
    width: 100%;
    height: 100px;
    background: #80deea;
}

/* 화면 너비가 0 ~ 1200px */
@media (max-width: 1220px){
    #wrap{
        width: 100%;
    }
    .content03{
        width: 50%;
    }
    .content04{
        width: 50%;
    }
    .content05{
        display: none;
    }
    .content06 > div{
        width: 29.3333%;
    }
    .content06 > div:nth-child(4){
        display: none;
    }
}

/* 화면 너비가 0 ~ 768px */
@media (max-width: 768px){
    .content03{
        width: 100%;
    }
    .content04{
        width: 100%;
    }
}

/* 화면 너비가 0 ~ 480px */
@media (max-width: 480px){
    nav{
        width: 100%;
    }
    .content01{
        width: 100%;
    }
    .content02{
        width: 100%;
    }
    .content06{
        height: 700px;
    }
    .content06 > div{
        width: 100%;
        margin: 4% 0;
    }
}